@import "../../../scss/variables.scss";
.create__product-wrapper {
    display: grid;
    place-items: center;

}

.create-form {
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
    padding: 20px 15px;
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid var(--success-color);

    h2 {
        @include f-style(2rem, --success-color, 500);
        letter-spacing: 1px;
    }

    input {
        width: 100%;
        height: 50px;
        text-indent: 10px;
        border: 1px solid var(--success-color);
        border-radius: 5px;
        background: transparent;
        @include f-style(18px, #fff, 500);
        outline: none;
        transition: .2s;

        &:focus {
            box-shadow: 0 0 8px 2px var(--success-color);
        }
        &::placeholder{
            letter-spacing: 2px;
            font-size: 20px;
        }
        
    }

    button {
        width: 100%;
        padding: 8px 0;
        transition: 0.2s;
        @extend %btn-style;
        background: var(--success-color);

        &:hover {
            cursor: pointer;
            transform: scale(1.03);
        }
    }
}

.create-form>.product-count {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        width: 250px;
    }
}
