@import "../../scss/variables.scss";

.product__view-wrapper {
    display: flex;
    justify-content: center;
    gap: 0px 20px;
    width: 100%;
    max-width: 1200px;
    height: 550px;
    margin: 20px auto;
}

.product_image {
    display: flex;
    min-width: 500px;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    .placeholder-image {
        width: 400px;
        height: 100%;
    }
}

.product-content {
    h2 {
        @include f-style(2.6rem, --success-color, 500);
        letter-spacing: 1px;
    }

    p {
        margin-top: 30px;
        line-height: 26px !important;
        letter-spacing: 0.5px;
        font-size: 20px !important;
        word-break: break-all !important;
    }
}