@mixin f-style($fSize, $color, $fWeight){
    font-size: $fSize;
    color: $color;
    font-weight: $fWeight;
}

%btn-style{
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }